body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Overpass Mono', monospace;
    background-color: #C5C1C0;
    font-size: 1.125rem;
    color: #0A1612;
    box-sizing: border-box;   
}

p {
  font-family: 'Merriweather', serif;
  font-size: largest;
}

.projects {
    width: 100vw; 
    height: 100vh; 
    position: fixed;
    top: 0;
    left: 0;
    background-color:  #C5C1C0;
    transform: translate3d(-100vw, 0, 0);
    transition: transform .250ms cubic-bezier(0, .52, 0, 1);
    overflow: auto;
    z-index: 1;
}

.projects h2 {
    margin-left: 2rem;
}

.projects.show {
    transform: translate3d(0vw, 0, 0)
}

#projects-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0 auto;
    
}

#container {
    display: flex;
    max-width: 850px;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 0 2rem;
}

.greeting {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
    min-height: 200px;
}

div.aboutInfo.visible {
  margin-top: 0;
}
.aboutInfo {
  display: flex;
  flex-direction: column;
  margin: auto;

}

nav {
    display: flex;
    justify-content: flex-end;
    margin: 2rem 0;   
}

.navLink {
  font-weight: 600;
  font-size: larger;
  padding: 14px 20px;
  background-color: whitesmoke;
  box-shadow: 0 8px 6px -6px black;
  
}
.navLink:hover  {
  cursor: pointer;
  transition: 250ms;
  color:  whitesmoke;
  background-color: #1199bb;
}



h1 {
    border-bottom: 1px solid #0A1612;
    
}

.accent {
    cursor: pointer;
    transition: 250ms;
    margin-bottom: 25px;
    font-weight: 600;
    
}

.accent:hover {
    color: #1199bb;
   
}
   
footer {
    width: 100%;
    padding: .5rem;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #0A1612;
}

a {
    color: #0A1612;
    text-decoration: none;

}

.aboutInfo p {
    font-size: 1.2rem;
    text-align: justify;
}




.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
  }

  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }

  .close:before {
    transform: rotate(45deg);
  }

  .close:after {
    transform: rotate(-45deg);
  }

  
/* card */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #ffff;
    transition: 0.3s;
    width: 300px;
    margin-bottom: 1.5rem;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .card-container {
    padding: 2px 16px;
    background-color: #ffffff;
  }

  img {
      width: 250px;
      height: 300px;
  }


.hidden {
  opacity: 0;
}  
.visible {
  opacity: 1;
  transition: opacity, 500ms ease-in;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  nav span.navLink {
    margin: 0 auto; 
  }
.aboutInfo {
  width: 90%;
}

 
}